@media all and (max-width: 1299px){
    html{
        zoom: 50%;
    }
    
    .grid-container{
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
        column-gap: 30px;        
    }

    .header{
        margin-left: 150px;
        font-size: 80px;
        background-color: white;
        color: grey;
        display: inline;
        margin-right: 10px;
    }
    
    .header2{
        display: inline;
        color:skyblue;
        font-size: 80px;
    }

    .conbtn{
        display: block;
        margin-left: 60%;
        margin-bottom: 100px;
    }

    .addbtn{
        display: inline-flex;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(96, 138, 202);
        color: whitesmoke;
        font-size: 60px;
        font-weight: 900;
        border-radius: 50%;
    }

    .addbtntext{
        display:inline-flex;
        margin-left:20px;
        font-size: 40px;
        color: black;
    }

    .t1{
        height: 650px;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 30px;
        border-radius: 5%;
        background-color: wheat;
        overflow: hidden;
    }

    .item-head{
        padding-bottom: 20px;
        border-bottom: solid black 1px;
        color: blue;
        font-size: 50px;
        margin-bottom: 10px;
    }

    .chkbox{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .chkbox-val{
        font-size: 40px;
    }

}

@media all and (min-width: 1300px){
    html{
        zoom: 50%;
    }
    
    .grid-container{
        display: grid;
        padding-left: 14%;
        padding-right: 14%;
        padding-bottom: 50px;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 50px;
        column-gap: 30px;
    }

    .header{
        margin-left: 150px;
        font-size: 80px;
        background-color: white;
        color: grey;
        display: inline;
        margin-right: 10px;
    }

    .header2{
        display: inline;
        color:skyblue;
        font-size: 80px;
    }

    .conbtn{
        display: block;
        margin-left: 70%;
        margin-bottom: 100px;
    }

    .addbtn{
        display: inline-flex;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(96, 138, 202);
        color: whitesmoke;
        font-size: 60px;
        font-weight: 900;
        border-radius: 50%;
    }

    .addbtntext{
        display:inline-flex;
        margin-left:20px;
        font-size: 40px;
        color: black;
    }

    .t1{
        height: 650px;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 30px;
        border-radius: 5%;
        background-color: wheat;
        overflow: hidden;
    }

    .item-head{
        padding-bottom: 20px;
        border-bottom: solid black 1px;
        color: blue;
        font-size: 50px;
        margin-bottom: 10px;
    }

    .chkbox{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .chkbox-val{
         font-size: 40px;
    }
}

@media all and (max-width: 500px){
    
    .header{
        margin-left: 40px;
        font-size: 80px;
        background-color: white;
        color: grey;
        display: inline;
        margin-right: 10px;
    }

    .header2{
        display: inline;
        color:skyblue;
        font-size: 80px;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 50px 20px 50px;
        row-gap: 20px;
        column-gap: 10px;
    }

    .conbtn{
        display: block;
        margin-left: 45%;
        margin-bottom: 30px;
    }

    .addbtn{
        display: inline-flex;
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: rgb(96, 138, 202);
        color: whitesmoke;
        font-size: 60px;
        font-weight: 600;
        border-radius: 50%;
    }

    .addbtntext{
        display:none;
        margin-left:20px;
        font-size: 20px;
        color: black;
    }

    .t1{
        height: 650px;
        padding-top: 30px;
        padding-left: 40px;
        padding-right: 30px;
        border-radius: 5%;
        background-color: wheat;
        overflow: hidden;
    
    }

    .item-head{
        padding-bottom: 20px;
        border-bottom: solid black 1px;
        color: blue;
        font-size: 50px;
        margin-bottom: 10px;
    }

    .chkbox{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .chkbox-val{
        font-size: 40px;
    }

}

.box{
    background-color: whitesmoke;
}

.addbtn:hover{
    cursor: pointer;
    background-color: aqua;
}

.t1:hover{
    box-shadow: 10px 15px lightgray;
    cursor: pointer;
}

.item-checkbox{
    display: block;
}

.chkbox:checked~.chkbox-val{
    text-decoration: line-through;
    color: gray;
}
